@{
    ViewBag.Title = "Want to contact us about anything? Please email us!";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    The Yay Or Nay Department<br />
    123 Fake Street<br />
    <abbr title="Contact Number">TEL:</abbr>
    +3530145154102
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@yayornay.com">tellmesomething@yayornay.com</a><br />
   
</address>