@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center>
        <h1>Yay Or Nay</h1>
        <p class="lead"><strong>One Stop Shop</strong> To find the movie you want to watch today or tonight.</p>
        <p><a href="http://localhost:3049/Movies" class="btn btn-primary btn-lg">This will link to Movie Review &raquo;</a></p>
    </center>
</div>



<div class="row">


    </div>
<div class="col-md-12">
    <center>
        <h2>For more in depth reviews or history of movies</h2>
        <p>Please select the links below</p>
    </center>
</div>

    <div class="row">


    <div class="col-md-6">
        <h2>IMDb</h2>
        <p>The Internet Movie Database (abbreviated IMDb) is an online database of information related to films, television programs and video games, including cast, production crew, fictional characters, biographies, plot summaries, trivia and reviews. Actors and crew can post their own résumé and upload photos of themselves for a yearly fee. U.S. users can view over 6,000 movies and television shows from CBS, Sony, and various independent filmmakers.<i>"Wikipedia"</i></p>
        <p><a class="btn btn-default" href="http://www.imdb.com/">Go to imdb.com &raquo;</a></p>
    </div>

        <div class="row">


            <div class="col-md-6">
                <h2>Rotten Tomatoes</h2>
                <p>Rotten Tomatoes is a website launched in 1998 devoted to film reviews and news; it is widely known as a film review aggregator. Coverage now includes TV content as well. The name derives from the practice of audiences throwing rotten tomatoes when disapproving of a poor stage performance. The company was created by Senh Duong and since January 2010 has been owned by Flixster, which itself was acquired in 2011 by Warner Bros.<i>"Wikipedia"</i></p>
                <p><a class="btn btn-default" href="https://www.rottentomatoes.com/">Go to rottentomatoes.com &raquo;</a></p>
            </div>


        </div>
